body {
  font-family: Arial;
  padding: 20px;
  background: #eef3ff;
}

h1 {
  color: #1e2a78;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0003;
}

.card h2 {
  margin-bottom: 5px;
}
