---
---

<html>
  <head>
    <title>Talleres Hub</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Talleres Hub</h1>
    <p>Bienvenido al proyecto más fachero de la T.</p>

    <ul>
      <li><a href="/partidos">➡ Ver partidos de Talleres</a></li>
    </ul>
  </body>
</html>
